env
archive/decks/standard_decks.txt
archive/decks/expanded_decks.txt
archive/decks/other_decks.txt
archive/decks/jp-standard_decks.txt
archive/decks/jp-expanded_decks.txt
archive/decks/hashed_decks.txt
